<!DOCTYPE html>
<html lang="de">
<head>
    <title>ruehmkorf.com – Login</title>
    <link rel="stylesheet" type="text/css" href="/public/admin/node_modules/@jinyacms/cosmo/alert.css">
    <link rel="stylesheet" type="text/css" href="/public/admin/node_modules/@jinyacms/cosmo/buttons.css">
    <link rel="stylesheet" type="text/css" href="/public/admin/node_modules/@jinyacms/cosmo/form.css">
    <link rel="stylesheet" type="text/css" href="/public/admin/node_modules/@jinyacms/cosmo/layout.css">
    <link rel="stylesheet" type="text/css" href="/public/admin/node_modules/@jinyacms/cosmo/list.css">
    <link rel="stylesheet" type="text/css" href="/public/admin/node_modules/@jinyacms/cosmo/modal.css">
    <link rel="stylesheet" type="text/css" href="/public/admin/node_modules/@jinyacms/cosmo/progress.css">
    <link rel="stylesheet" type="text/css" href="/public/admin/node_modules/@jinyacms/cosmo/normalize.css">
    <link rel="stylesheet" type="text/css" href="/public/admin/node_modules/@jinyacms/cosmo/scrollbars.css">
    <link rel="stylesheet" type="text/css" href="/public/admin/node_modules/@jinyacms/cosmo/tab.css">
    <link rel="stylesheet" type="text/css" href="/public/admin/node_modules/@jinyacms/cosmo/table.css">
    <link rel="stylesheet" type="text/css" href="/public/admin/node_modules/@jinyacms/cosmo/toolbar.css">
    <link rel="stylesheet" type="text/css" href="/public/admin/node_modules/@jinyacms/cosmo/typography.css">
    <link rel="stylesheet" type="text/css" href="/public/admin/node_modules/@jinyacms/cosmo/variables.css">
    <link rel="stylesheet" type="text/css" href="/public/admin/login.css">
</head>
<body>
<main class="cosmo-page">
    <div class="cosmo-menu is--top">
        <div class="cosmo-profile-picture"></div>
    </div>
    <div class="cosmo-menu is--main">
        <button class="cosmo-back-button" disabled type="button"></button>
        <nav class="cosmo-menu-__collection">
            <div class="cosmo-menu__row is--main">
                <span class="cosmo-menu__item is--main is--active">Login</span>
            </div>
            <div class="cosmo-menu-bar__sub-menu">
                <span class="cosmo-menu__item is--sub is--active">Login</span>
                <span class="cosmo-menu__item is--sub">Two factor code</span>
            </div>
        </nav>
    </div>
    <div class="cosmo-page-body">
        <div class="cosmo-page-body__content">
            <div class="rc-login__panel">
                <form action="/admin/login" method="post">
                    <div class="cosmo-input__group">
                        <label class="cosmo-label" for="email">Email</label>
                        <input class="cosmo-input" type="email" value="{{.Email}}" id="email" name="email">
                        <label class="cosmo-label" for="password">Password</label>
                        <input class="cosmo-input" type="password" id="password" name="password">
                    </div>
                    <div class="cosmo-button__container">
                        <button class="cosmo-button" type="submit">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
</body>
</html>