<html lang="de">
<head>
    <title>ruehmkorf.com – Two Factor</title>
    <link rel="stylesheet" type="text/css" href="https://use.typekit.net/tmw4jig.css">
    <link rel="stylesheet" type="text/css" href="/public/css/body.css">
    <link rel="stylesheet" type="text/css" href="/public/css/forms.css">
    <link rel="stylesheet" type="text/css" href="/public/css/login.css">
</head>
<body>
<div class="rc-content">
    <form action="/admin/twofactor" method="post" class="rc-form rc-form--login">
        {{if .Message}}
            <div class="rc-message">
                {{.Message}}
            </div>
        {{end}}
        <div class="rc-input__group">
            <label class="rc-input__label" for="token">2FA Code</label>
            <input class="rc-input__field" type="text" id="token" name="token">
        </div>
        <div class="rc-button__group">
            <button class="rc-button" type="submit">Login</button>
        </div>
    </form>
</div>
</body>
</html>