{{define "graph"}}{{end}}
{{define "title"}}
    Not found
{{end}}
{{define "content"}}
    <div class="rc-error__container">
        <div class="rc-error__message">
            We couldn't find the requested page.
        </div>
    </div>
{{end}}