{{define "title"}}
    {{if eq .Language "de"}}
        Interner Fehler
    {{else}}
        Internal error
    {{end}}
{{end}}
{{define "content"}}
    <div class="rc-error__container">
        <div class="rc-error__message">
            {{if eq .Language "de"}}
                Ein interner Fehler ist aufgetreten
            {{else}}
                An internal error occured
            {{end}}
        </div>
    </div>
{{end}}