<div class="cosmo-list">
    <nav class="cosmo-list__items">
        {{#each downloads}}
            <a class="cosmo-list__item" data-action="changeDownload" data-download-slug="{{slug}}">{{slug}}</a>
        {{/each}}
        <button class="cosmo-button cosmo-button--full-width" data-action="addDownload">Neuer Download</button>
    </nav>
    <div class="cosmo-list__content" id="downloadContent">
    </div>
</div>