<form>
    <div class="cosmo-input__group">
        <label for="logo" class="cosmo-label">Logo</label>
        <div class="cosmo-input cosmo-input--picker">
            <label class="cosmo-picker__name" for="logo">Datei wählen...</label>
            <label class="cosmo-picker__button" for="logo">
                <span class="mdi mdi-upload mdi-24px"></span>
            </label>
            <input style="display: none" type="file" id="logo">
        </div>
        <label for="touchIcon" class="cosmo-label">Touchicon</label>
        <div class="cosmo-input cosmo-input--picker">
            <label class="cosmo-picker__name" for="touchIcon">Datei wählen...</label>
            <label class="cosmo-picker__button" for="touchIcon">
                <span class="mdi mdi-upload mdi-24px"></span>
            </label>
            <input style="display: none" type="file" id="touchIcon">
        </div>
        <label for="favicon" class="cosmo-label">Favicon</label>
        <div class="cosmo-input cosmo-input--picker">
            <label class="cosmo-picker__name" for="favicon">Datei wählen...</label>
            <label class="cosmo-picker__button" for="favicon">
                <span class="mdi mdi-upload mdi-24px"></span>
            </label>
            <input style="display: none" type="file" id="favicon">
        </div>
    </div>
    <div class="cosmo-button__container">
        <button class="cosmo-button" type="submit">Speichern</button>
    </div>
</form>
<h4>Logo</h4>
<img src="/logo.png" alt="Logo">
<h4>Touchicon</h4>
<img src="/touchicon.png" alt="Touchicon">
<h4>Favicon</h4>
<img src="/favicon.ico" alt="Favicon">
