{{define "graph"}}{{end}}
{{define "title"}}
    Cookies
{{end}}
{{define "content"}}
    <div class="rc-content">
        <div class="rc-article">
            {{unsafe .Content}}
        </div>
    </div>
{{end}}