<html lang="de">
<head>
    <title>ruehmkorf.com – Administration</title>
    <link rel="stylesheet" type="text/css" href="/public/admin/node_modules/@jinyacms/cosmo/variables.css">
    <link rel="stylesheet" type="text/css" href="/public/admin/node_modules/@jinyacms/cosmo/normalize.css">
    <link rel="stylesheet" type="text/css" href="/public/admin/node_modules/@jinyacms/cosmo/form.css">
    <link rel="stylesheet" type="text/css" href="/public/admin/node_modules/@jinyacms/cosmo/key-value-list.css">
    <link rel="stylesheet" type="text/css" href="/public/admin/node_modules/@jinyacms/cosmo/lato.css">
    <link rel="stylesheet" type="text/css" href="/public/admin/node_modules/@jinyacms/cosmo/layout.css">
    <link rel="stylesheet" type="text/css" href="/public/admin/node_modules/@jinyacms/cosmo/list.css">
    <link rel="stylesheet" type="text/css" href="/public/admin/node_modules/@jinyacms/cosmo/mdi.css">
    <link rel="stylesheet" type="text/css" href="/public/admin/node_modules/@jinyacms/cosmo/modal.css">
    <link rel="stylesheet" type="text/css" href="/public/admin/node_modules/@jinyacms/cosmo/progress.css">
    <link rel="stylesheet" type="text/css" href="/public/admin/node_modules/@jinyacms/cosmo/scrollbars.css">
    <link rel="stylesheet" type="text/css" href="/public/admin/node_modules/@jinyacms/cosmo/tab.css">
    <link rel="stylesheet" type="text/css" href="/public/admin/node_modules/@jinyacms/cosmo/table.css">
    <link rel="stylesheet" type="text/css" href="/public/admin/node_modules/@jinyacms/cosmo/toolbar.css">
    <link rel="stylesheet" type="text/css" href="/public/admin/node_modules/@jinyacms/cosmo/typography.css">
    <link rel="stylesheet" type="text/css" href="/public/admin/tools.css">
    <link rel="stylesheet" type="text/css" href="/public/admin/form.css">
    <link rel="stylesheet" type="text/css" href="/public/admin/cosmo-edits.css">
</head>
<body>
<main class="cosmo-page-layout">
    <div class="cosmo-top-bar">
        <nav class="cosmo-top-bar__menu">
            <a href="#" class="cosmo-top-bar__menu-item" data-target="users">Benutzer</a>
        </nav>
        <div class="cosmo-profile-picture"></div>
        <a href="/admin/logout" class="cosmo-top-bar__menu-item cosmo-top-bar__menu-item--right">Logout</a>
    </div>
    <div class="cosmo-menu-bar">
        <div class="cosmo-menu-bar__touch"></div>
        <button class="cosmo-menu-bar__back-button" disabled type="button"></button>
        <nav class="cosmo-menu-bar__menu-collection" data-menu="main">
            <div class="cosmo-menu-bar__main-menu">
                <a data-default-sublink="news" href="#"
                   class="cosmo-menu-bar__main-item cosmo-menu-bar__main-item--active" data-target="content">Inhalte</a>
                <a data-default-sublink="profile" href="#" class="cosmo-menu-bar__main-item"
                   data-target="social">Social</a>
                <a data-default-sublink="icons" href="#" class="cosmo-menu-bar__main-item" data-target="settings">Einstellungen</a>
            </div>
            <div class="cosmo-menu-bar__sub-menu" data-submenu="content">
                <a href="#" data-sublink="news" class="cosmo-menu-bar__sub-item cosmo-menu-bar__sub-item--active">Nachrichten</a>
                <a href="#" data-sublink="downloads" class="cosmo-menu-bar__sub-item">Downloads</a>
            </div>
            <div class="cosmo-menu-bar__sub-menu rc-hidden" data-submenu="social">
                <a href="#" data-sublink="profile" class="cosmo-menu-bar__sub-item cosmo-menu-bar__sub-item--active">Profile</a>
            </div>
            <div class="cosmo-menu-bar__sub-menu rc-hidden" data-submenu="settings">
                <a href="#" data-sublink="icons"
                   class="cosmo-menu-bar__sub-item cosmo-menu-bar__sub-item--active">Icons</a>
                <a href="#" data-sublink="texts" class="cosmo-menu-bar__sub-item">Texte</a>
            </div>
        </nav>
        <nav class="cosmo-menu-bar__menu-collection rc-hidden" data-menu="users">
            <div class="cosmo-menu-bar__main-menu">
                <a href="#" class="cosmo-menu-bar__main-item cosmo-menu-bar__main-item--active">Benutzer</a>
            </div>
            <div class="cosmo-menu-bar__sub-menu">
                <a href="#" class="cosmo-menu-bar__sub-item cosmo-menu-bar__sub-item--active">Benutzer</a>
            </div>
        </nav>
    </div>
    <div class="cosmo-page-body">
        <div class="cosmo-page-body__content" id="rcContent">
        </div>
    </div>
</main>

<script type="text/x-handlebars-template" id="newsListTemplate">
    <div class="cosmo-list">
        <nav class="cosmo-list__items">
            {{#each news}}
                <a class="cosmo-list__item" data-action="change-news" data-news-slug="{{slug}}">{{slug}}</a>
            {{/each}}
            <button class="cosmo-button cosmo-button--full-width" data-action="addNews">Neue Nachricht</button>
        </nav>
        <div class="cosmo-list__content" id="newsContent">
        </div>
    </div>
</script>
<script type="text/x-handlebars-template" id="newsDetailTemplate">
    <h1 class="cosmo-title">{{titleDe}} - {{titleEn}}</h1>
    <div class="cosmo-toolbar">
        <div class="cosmo-toolbar__group">
            <button class="cosmo-button" type="button" data-action="editNews">Bearbeiten</button>
            <button class="cosmo-button" type="button" data-action="deleteNews">Löschen</button>
        </div>
    </div>
    <dl class="cosmo-key-value-list">
        <dt class="cosmo-key-value-list__key">Slug</dt>
        <dd class="cosmo-key-value-list__value">{{slug}}</dd>
        <dt class="cosmo-key-value-list__key">Titel - De</dt>
        <dd class="cosmo-key-value-list__value">{{titleDe}}</dd>
        <dt class="cosmo-key-value-list__key">Titel - En</dt>
        <dd class="cosmo-key-value-list__value">{{titleEn}}</dd>
        <dt class="cosmo-key-value-list__key">Tags</dt>
        <dd class="cosmo-key-value-list__value">{{concatTags}}</dd>
        <dt class="cosmo-key-value-list__key">Öffentlich</dt>
        <dd class="cosmo-key-value-list__value">{{#if public}}Ja{{else}}Nein{{/if}}</dd>
        <dt class="cosmo-key-value-list__key">Deutscher Link</dt>
        <dd class="cosmo-key-value-list__value">
            <a href="/de/news/{{slug}}">https://ruehmkorf.com/de/news/{{slug}}</a>
        </dd>
        <dt class="cosmo-key-value-list__key">Englischer Link</dt>
        <dd class="cosmo-key-value-list__value">
            <a href="/en/news/{{slug}}">https://ruehmkorf.com/en/news/{{slug}}</a>
        </dd>
    </dl>
    <div class="cosmo-tab-control" data-control="news">
        <div class="cosmo-tab-control__tabs">
            <a data-action="german" class="cosmo-tab-control__tab-link cosmo-tab-control__tab-link--active">Deutsch</a>
            <a data-action="english" class="cosmo-tab-control__tab-link">Englisch</a>
            <a data-action="hero" class="cosmo-tab-control__tab-link">Hero Bild</a>
        </div>
        <div data-tab="german" class="cosmo-tab-control__content">
            <h4>Anreißer</h4>
            <textarea class="cosmo-textarea cosmo-textarea--full-width" id="gistDe" rows="10">{{gistDe}}</textarea>
            <h4>Inhalt</h4>
            <textarea class="cosmo-textarea cosmo-textarea--full-width" id="contentDe"
                      rows="20">{{contentDe}}</textarea>
        </div>
        <div data-tab="english" class="cosmo-tab-control__content rc-hidden">
            <h4>Anreißer</h4>
            <textarea class="cosmo-textarea cosmo-textarea--full-width" id="gistEn" rows="10">{{gistEn}}</textarea>
            <h4>Inhalt</h4>
            <textarea class="cosmo-textarea cosmo-textarea--full-width" id="contentEn"
                      rows="20">{{contentEn}}</textarea>
        </div>
        <div data-tab="hero" class="cosmo-tab-control__content rc-hidden">
            <img src="/news/hero/{{slug}}" alt="Hero">
        </div>
    </div>
    <div class="cosmo-button__container">
        <button class="cosmo-button" type="button" id="saveNews">Speichern</button>
    </div>
</script>
<script type="text/x-handlebars-template" id="editNewsTemplate">
    <div class="cosmo-modal__container">
        <form class="cosmo-modal">
            <div class="cosmo-modal__title">Nachricht bearbeiten</div>
            <div class="cosmo-modal__content">
                <div class="cosmo-input__group">
                    <label class="cosmo-label" for="titleDe">Deutscher Titel</label>
                    <input autocomplete="false" id="titleDe" name="titleDe" placeholder="Deutscher Titel" required
                           type="text" class="cosmo-input" value="{{titleDe}}">
                    <label class="cosmo-label" for="titleEn">Englischer Titel</label>
                    <input autocomplete="false" id="titleEn" name="titleEn" placeholder="Englischer Titel" required
                           type="text" class="cosmo-input" value="{{titleEn}}">
                    <label class="cosmo-label" for="tags">Tags</label>
                    <input autocomplete="false" id="tags" name="tags" placeholder="Tags" type="text" class="cosmo-input"
                           value="{{concatTags}}">
                    <label for="heroImage" class="cosmo-label">Hero Bild</label>
                    <div class="cosmo-input cosmo-input--picker">
                        <label class="cosmo-picker__name" for="heroImage">Datei wählen...</label>
                        <label class="cosmo-picker__button" for="heroImage">
                            <span class="mdi mdi-upload mdi-24px"></span>
                        </label>
                        <input style="display: none" type="file" id="heroImage">
                    </div>
                    <div class="cosmo-checkbox__group">
                        {{#if public}}
                            <input type="checkbox" id="public" class="cosmo-checkbox" checked>
                        {{else}}
                            <input type="checkbox" id="public" class="cosmo-checkbox">
                        {{/if}}
                        <label class="cosmo-label" for="public">Öffentlich</label>
                    </div>
                </div>
            </div>
            <div class="cosmo-modal__button-bar">
                <button class="cosmo-button" data-action="cancelEdit" type="button">Abbrechen</button>
                <button class="cosmo-button" type="submit">Nachricht speichern</button>
            </div>
        </form>
    </div>
</script>
<script type="text/x-handlebars-template" id="addNewsTemplate">
    <div class="cosmo-modal__container">
        <form class="cosmo-modal">
            <div class="cosmo-modal__title">Nachricht hinzufügen</div>
            <div class="cosmo-modal__content">
                <div class="cosmo-input__group">
                    <label class="cosmo-label" for="slug">Slug</label>
                    <input autocomplete="false" id="slug" name="slug" placeholder="Slug" required type="text"
                           class="cosmo-input">
                    <label class="cosmo-label" for="titleDe">Deutscher Titel</label>
                    <input autocomplete="false" id="titleDe" name="titleDe" placeholder="Deutscher Titel" required
                           type="text" class="cosmo-input">
                    <label class="cosmo-label" for="titleEn">Englischer Titel</label>
                    <input autocomplete="false" id="titleEn" name="titleEn" placeholder="Englischer Titel" required
                           type="text" class="cosmo-input">
                    <label class="cosmo-label" for="tags">Tags</label>
                    <input autocomplete="false" id="tags" name="tags" placeholder="Tags" type="text"
                           class="cosmo-input">
                    <label for="heroImage" class="cosmo-label">Hero Bild</label>
                    <div class="cosmo-input cosmo-input--picker">
                        <label class="cosmo-picker__name" for="heroImage">Datei wählen...</label>
                        <label class="cosmo-picker__button" for="heroImage">
                            <span class="mdi mdi-upload mdi-24px"></span>
                        </label>
                        <input style="display: none" type="file" id="heroImage">
                    </div>
                    <div class="cosmo-checkbox__group">
                        <input type="checkbox" id="public" class="cosmo-checkbox">
                        <label class="cosmo-label" for="public">Öffentlich</label>
                    </div>
                </div>
            </div>
            <div class="cosmo-modal__button-bar">
                <button class="cosmo-button" data-action="cancelEdit" type="button">Abbrechen</button>
                <button class="cosmo-button" type="submit">Nachricht speichern</button>
            </div>
        </form>
    </div>
</script>

<script type="text/x-handlebars-template" id="confirmTemplate">
    <div class="cosmo-modal__container">
        <div class="cosmo-modal">
            <h1 class="cosmo-modal__title">{{title}}</h1>
            <div class="cosmo-modal__content">
                <p>{{message}}</p>
            </div>
            <div class="cosmo-modal__button-bar">
                <button id="decline" class="cosmo-button">{{decline}}</button>
                <button id="confirm" class="cosmo-button">{{confirm}}</button>
            </div>
        </div>
    </div>
</script>
<script type="text/x-handlebars-template" id="alertTemplate">
    <div class="cosmo-modal__container">
        <div class="cosmo-modal">
            <h1 class="cosmo-modal__title">{{title}}</h1>
            <div class="cosmo-modal__content">
                <p>{{message}}</p>
            </div>
            <div class="cosmo-modal__button-bar">
                <button id="acknowledge" class="cosmo-button">{{acknowledge}}</button>
            </div>
        </div>
    </div>
</script>

<script src="/public/admin/lib/js/handlebars.js"></script>
<script src="/public/admin/js/index.js" type="module"></script>
</body>
</html>