.rc-download__container {
    width: 100%;
    display: grid;
    grid-template-columns: 25vw 25vw 25vw;
    grid-auto-rows: 25vw;
    margin-top: 2rem;
    grid-gap: 2.5vw;
    box-sizing: border-box;
}

.rc-download__card {
    background: var(--white);
    display: grid;
    padding: 1.5rem;
    box-sizing: border-box;
    grid-template-rows: 15vw 1fr 2rem;
    grid-gap: 1rem;
}

.rc-download__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.rc-download__title {
    font-size: var(--font-size-24);
    color: var(--black);
    justify-self: start;
    align-self: end;
}

.rc-download__date {
    color: var(--black);
}

.rc-download__details-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    grid-auto-rows: 60vh;
    margin-top: 2rem;
}

.rc-download__details-preview {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.rc-download__details-header {
    font-size: var(--font-size-56);
    margin: 0;
}

.rc-download__details-date {
    font-size: var(--font-size-24);
}

.rc-download__details-description {
    font-size: var(--font-size-24);
}

.rc-download__details-content {
    max-height: 60vh;
    overflow-y: auto;
}

.rc-button--download {
    background: var(--blue);
    font-size: var(--font-size-24);
}

@media screen and (max-width: 900px) {
    .rc-download__container {
        grid-template-columns: 80vw;
        grid-auto-rows: 80vw;
    }

    .rc-download__card {
        grid-template-rows: 1fr auto auto;
    }

    .rc-download__details-container {
        grid-template-columns: unset;
        grid-auto-rows: unset;
    }
}