.rc-footer {
    padding: 1rem 10%;
    display: flex;
    gap: 1rem;
    flex-flow: column;
}

.rc-footer__link {
    color: var(--black);
    text-decoration: none;
}

@media screen and (max-width: 800px) {
    .rc-footer {
        position: relative;
        background: var(--background);
    }
}