.rc-form {
    display: grid;
    gap: 1rem;
}

.rc-button {
    background: var(--black);
    color: var(--white);
    border: none;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
    font-size: 1rem;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "lato", sans-serif;
}

.rc-button--small {
    font-size: 0.75rem;
}

.rc-input__group {
    display: block;
}

.rc-input__field {
    padding: 0.25rem 0.5rem;
    font-size: 1rem;
    width: 100%;
    display: block;
    background: var(--input-background);
    font-family: "lato", sans-serif;
    border: 1px solid var(--black);
    margin: 0;
}

.rc-input__field:invalid {
    border-color: var(--negative);
    outline: 2px solid var(--negative);
}

.rc-input__field--textarea {
    font-family: source-code-pro, monospace;
    resize: vertical;
}

.rc-input__label {
    font-size: 1rem;
    display: block;
}

.rc-button__group {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.rc-button__group--padded {
    padding-top: 1rem;
}

.rc-button__group--center {
    justify-content: center;
}

.rc-button__group--start {
    justify-content: flex-start;
}

.rc-input__field--file::-webkit-file-upload-button,
.rc-input__field--file::file-selector-button {
    background: var(--input-background);
    color: var(--input-color);
    border: none;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
    font-size: 1rem;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "lato", sans-serif;
}

.rc-input__field--file {
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 0;
}