.rc-menu {
    background: var(--black);
    padding: 0 10%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    position: sticky;
    top: 0;
}

.rc-menu__logo {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    margin: 1rem 1rem 1rem 0;
    object-fit: cover;
}

.rc-menu__item {
    font-size: 2rem;
    color: var(--white);
    text-decoration: none;
}

@media screen and (max-width: 600px) {
    .rc-menu__logo {
        display: none;
    }

    .rc-menu {
        flex-flow: column;
        position: unset;
    }
}