.rc-article__header-image {
    padding: 2rem 0;
}

.rc-article__header-container {
    background: #FFFFFFB3;
    padding: 1.5rem 10%;
}

.rc-article__date,
.rc-article__gist {
    font-size: var(--font-size-24);
    display: block;
    width: 100%;
}

.rc-article__title {
    display: block;
    width: 100%;
    font-weight: bold;
    font-size: var(--font-size-56);
}

.rc-article {
    font-size: var(--font-size-24);
}

.rc-article img {
    width: 100%;
    max-height: 30rem;
    object-fit: scale-down;
}

@media screen and (max-width: 800px) {
    .rc-article__title {
        word-break: break-word;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
    }

    .rc-article img {
        margin-right: -10vw;
        margin-left: -10vw;
        width: 100vw;
    }

    .rc-article__header-image--mobile {
        position: fixed;
        object-fit: cover;
        z-index: 0;
        top: 7.5rem;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .rc-article__header-container {
        z-index: 1;
        position: relative;
        top: 0;
    }

    .rc-article p:last-child {
        margin-bottom: 0;
    }

    .rc-article p:first-child {
        margin-top: 0;
    }

    .rc-article h1:first-child {
        margin-top: 0;
    }

    .rc-article h2:first-child {
        margin-top: 0;
    }

    .rc-article h3:first-child {
        margin-top: 0;
    }

    .rc-article h4:first-child {
        margin-top: 0;
    }

    .rc-article h5:first-child {
        margin-top: 0;
    }

    .rc-article h6:first-child {
        margin-top: 0;
    }
}