.rc-profile__icon {
    height: 3rem;
    width: 3rem;
    object-fit: scale-down;
}

.rc-card__title--profile {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.rc-profile__url {
    font-size: 1rem;
    color: var(--blue);
}

.rc-profile__details {
    display: flex;
    flex-flow: column;
}

.rc-card--profile {
    height: 18.5vw;
    width: 18.5vw;
    grid-template-rows: [img] 1fr [title] auto [date] auto;
}

.rc-card__container--profile {
    gap: 2vw;
}

.rc-card__img--profile {
    height: 100%;
}

@media screen and (max-width: 1366px) {
    .rc-card__container--profile {
        gap: 1rem;
    }

    .rc-card--profile {
        height: 37vw;
        width: 37vw;
    }
}

@media screen and (max-width: 900px) {
    .rc-card__container--profile {
        gap: 1rem;
    }

    .rc-card--profile {
        height: 80vw;
        width: 80vw;
    }
}