.rc-profile__icon {
    height: 3rem;
    width: 3rem;
    object-fit: scale-down;
}

.rc-card__title--profile {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.rc-profile__url {
    font-size: 1rem;
    color: var(--blue);
}

.rc-profile__details {
    display: flex;
    flex-flow: column;
}