.rc-table {
    border-collapse: collapse;
    vertical-align: middle;
    width: 100%;
}

.rc-table thead th {
    text-align: left;
    padding: 0.5rem 0.5rem 0;
    border-bottom: 1px solid var(--black);
}

.rc-table tbody td {
    box-sizing: border-box;
    padding: 0.5rem;
    border-bottom: 1px solid var(--black);
}

.rc-table tbody tr:nth-child(2n + 1) {
    background: var(--white);
}

.rc-table tbody td.rc-table__cell--action {
    padding: 0.25rem 0 0.5rem;
}

.rc-table__pager {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
}

.rc-table__pager-count {
    font-weight: bold;
}