.cosmo-list {
    grid-template-columns: [items-list] 280px 16px [content] 1fr;
}

body {
    --primary-color: #0066cc;
    --gradient-top-color: #e0f0ff;
}

@media screen and (prefers-color-scheme: dark) {
    body {
        --gradient-top-color: #000000;
    }
}