.cosmo-list {
    grid-template-columns: [items-list] 280px 16px [content] 1fr;
}

:root {
    --primary-hue: 210 !important;
    --primary-saturation: 100% !important;
    --primary-lightness-base: 40% !important;
}
