{{define "content"}}
    <form method="post">
        <h1 class="rc-title">Nachricht löschen</h1>
        <p>
            Soll die Nachricht "{{.TitleEn}}"/"{{.TitleDe}}" wirklich gelöscht werden?
        </p>
        <div class="rc-button__group rc-button__group--start">
            <button class="rc-button" type="submit">Löschen</button>
            <a class="rc-button" href="/admin/news">Nicht Löschen</a>
        </div>
    </form>
{{end}}